.product_card_container {

    width: 11.3rem;
    height: fit-content;
    .image_container {
        width: 11.3rem;
        height: 17rem;
        border: 1px solid #eceaeb;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;


        &:hover img {
            transform: scale(1.1);
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .label_container {
        position: absolute;
        top: 7px;
        left: 12px;
        color: #fff;
        padding: 0.4rem;
        font-size: 0.7rem;
        height: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pname{
        display: flex;
        align-items: center;
        margin: 1rem 0 1rem 0;
        flex-direction: column;
        small{
            font-size: 0.7rem;
            text-align: center;
        }
    }
    .star_container{
        color:#fbd72f;

        svg{
            font-size: 0.7rem;
        }
    }
    .price{
        font-weight: 900;
    }
}