@import '/src/sass/variables';

.subcontainer_container{
    width: 100%;
    height: 17.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    position:relative;
    overflow:hidden;
    
    &:hover img{
        transform: translate(5px,5px);
    }

    h3{
        margin-bottom: 0.5rem;
        font-family: $card;
        font-weight: 900;
        font-size: 1.5rem;
    }
    p {
        border-bottom: 1px solid #cb1f1e;
        border-width: 2px;
        width: 6rem;
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: 800;
    }

    img{
        object-fit: contain;
        object-position: right;
        position: absolute;
        right: 1px;
        top: -1px;
        height: 100%;
        transition: all 0.3s ease-in-out;
        
    }

}