@import '/src/sass/variables';

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
    .logo {
        font-family: $logo;
        font-size: 30px;
        color: #333;
        font-size: 2.5rem;
    }

    .login_section {
        display: flex;
        gap: 1rem;
        cursor: pointer;
    }

    .login_register {
        font-size: 0.7rem;
        color: rgba(139, 139, 139, 255);
    }

    .wishlist {
        position: relative;
    }

    .count {
        position: absolute;
        background: #111111;
        border-radius: 50%;
        top: -10px;
        left: 10px;
        width: 1rem;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 1rem;

        p {
            font-size: 0.7rem;
            color: #fff;
        }
    }

    .cart {
        position: relative;
    }
}